<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置指定的namespace -->
<mapper namespace="com.changlu.springbootmybatis.mapper.ScheduleJobExpandMapper">

    <!-- 定义一个结果集，保证pojo中的字段与数据库相符   -->
    <resultMap id="jobExpandResultMap"  type="com.changlu.springbootmybatis.pojo.ScheduleJobExpand">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="id"/>
        <id property="jobId" column="job_id"/>
        <id property="runNum" column="run_num"/>
    </resultMap>

    <insert id="insertNextRunForJobs">
        select
        `job_id`,
        max(run_num) + 1 as max_run_num
        from schedule_job_expand
        where `job_id` IN
        <foreach collection="jobIds" close=")" open="(" separator="," item="jobId">
            #{jobId}
        </foreach>
        GROUP BY job_id
    </insert>

    <insert id="insertNextRunForJob">
        INSERT INTO schedule_job_expand
            (`job_id`,`run_num`)
        select job_id, max(run_num)+ 1 as max_run_num
        from schedule_job_expand
        where `job_id` = #{jobId};
    </insert>

</mapper>
