<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_HOME" value="./logs"/>
    <property name="LOG_PATTERN"
              value="[%d{'yy-MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%.10t][%X{CU}] %logger{36}[%L] - %m%n"/>
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_COLOR_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %boldYellow([%thread])  %cyan(%logger{15}) %msg%n"/>
    <property name="LOG_CHARSET" value="UTF-8"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--   日志格式配置   -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--   引用上面的键值对及输出的格式   -->
            <pattern>${CONSOLE_COLOR_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Configure so that it outputs to both console and log file -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
